<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>documentation</title>
  </head>
  <body>
    <main>
      <p>endpoints</p>
      <p>/region -> untuk provinsi</p>
      <p>/region/{id} -> untuk spesifik provinsi</p>
      <p>/district -> untuk Kab/Kota</p>
      <p>/district/{id} -> untuk spesifik Kab/Kota</p>
      <p>/subdistrict -> untuk kecamatan</p>
      <p>/subdistrict/{id} -> untuk spesifik kecamatan</p>
    </main>
  </body>
</html>
